body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
=======
.container {
    width: 100vw;
    height: 100vh;
}

>>>>>>> 04acb71c9a8d055a85287221ac518699359e3c16
.container--img {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
<<<<<<< HEAD
}
=======
}
>>>>>>> 04acb71c9a8d055a85287221ac518699359e3c16
